html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;
    color:black}

    h1,
    h2 {
        color:black
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration:underline dashed rgb(156,246,246);
        text-decoration-style:wavy;
        text-underline-offset: 9px;
        Text-align:Center;
    }

h1{
    font-size: 1rem;
    
}

h2{
    font-size: 1rem;
    text-decoration: none;
}

h2::before,
h2::after {
    content: "\2728";
}


nav li  {
    font-size:smaller;
    color: rgb(156, 246, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align:left ;
    list-style-type: none; 
    text-transform: uppercase;
}

nav,
Header{
    text-align: center;
}

nav a {
    text-decoration: none;
    color:black
}
nav a:link,
nav a:visited {
    line-height: 1.5;
}
Nav a:hover,
nav a:active {
    text-decoration: underline wavy;
    text-underline-offset: 1px;
    text-decoration-color:rgb(156, 246, 246) ;
}

.assignments li{
    list-style-type: none;
}
.assignments a{
   text-decoration: none;
    list-style: none;
    color: rgb(226, 166, 203);
}