html {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    line-height: 1.7;
    color:black}

    h1,
    h2,
    h3 {
        color:black
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        text-decoration:underline dashed rgb(156,246,246);
        text-decoration-style:wavy;
        text-underline-offset: 9px;
        Text-align:Center;
    }

h1{
    font-size: 2rem;
}
nav, li  {
    color: rgb(156, 246, 246);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    font-weight: lighter;
    text-align: center;
    text-decoration: underline;
    list-style-type: none; 
    text-transform: uppercase;
}

nav,
Header{
    text-align: center;
}

nav a,
.assignments a,
Footer a {
    text-decoration: none;
    color:black
}

Nav a:Link
nav a:visited {
    line-height: 1.5;
}

Nav a:hover
nav a:active {
    text-decoration: wavy;
    text-underline-offset: 1px;
    color rgb (156,246,246);
}