/*font-family: 'Merriweather', serif;
font-family: 'Lobster', cursive;
*/

html {
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
    font-size: 1.20rem;
    line-height: 125%;
    color: #c98226;
    background-color:#fff6eb ;
  }

* ,
* ::before ,
* ::after {
    box-sizing: inherit;
}

nav{
    background-color: #c98226;
    text-align: center;
}

nav li{
    display: inline;

}
nav a{
    padding: 20px;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}

nav a:link, 
nav a:visited{
    text-decoration: none;
}
 
nav a:hover,
nav a:active{
    background-color:#fff6eb;
    text-decoration: underline;
    color: #50504f;
}

main{
    font-family:'merriweather', serif;
    width: 80%;
    margin: 0 auto;
}

h1,
h2,
h3{
    font-family: 'lobster', cursive;
}

h1{
    font-size: 5rem;
    margin: 6%;
    line-height: 150%;
    text-align: center;
    text-shadow: 3px 5px 3px #ccc;
    
}

header{
    margin: 10%;
}

img{
    float: left;
    max-width: 10%;
    margin-right: 10%;
    margin-left:5%;
    border-radius: 50%;
    box-shadow: 5px 5px 3px #ccc;
    shape-outside: circle(50%);
}

header h2{
    margin-top: 8%;
}

.rate{
    clear: both;
    margin-top: 6%;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 6%;
}

.emoji::after{
    content: "\1f370";
}

.details,
.ingredients,
.instructions,
.nutrition{
    width: 40%;
    float: left;
    margin-top: -2%;
}
.ingredients{
    margin-top: -6%;
}
.details,
.instructions{
    margin-right: 16%;
    margin-left: 4%;
}

.details ul{
    text-transform: lowercase;
}
.details ul{
    text-transform: capitalize;
}
blockquote{
    color:#fff6eb;
    clear: both;
    width: 300px;
    height: 300px;
    padding: 100px 10px 50px 50px;
    border-radius: 50%;
    background-color: #c98226;
    outline: dotted 6px #c98226;
    outline-offset: 8px;
    font-family: 'merriweather', serif;
    font-size: 1rem;
    margin:80px auto 0 ;
}

blockquote small{
    text-align: right;
}

footer{
    background-color: #c98226;
    color:white ;
    padding: 2% auto 0;
    margin-top: 40px;
    margin-bottom: 40px;
}

footer a{
    display: block;
    font-family: 'merriweather, serif';
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: white;
}

footer ul{
    list-style-type: none;
    text-align:right;
}

footer li:hover,
footer li:active{
    text-decoration: underline;
}

.col1,
.col2,
.col3{
    display: block;
    float: left;
    width: 33%;
}

footer p{
    clear: both;
}

/* media queries go below*/

@media (min-width:375px){
    html{
        float: none;
        line-height: 125%;
        font-size: 1rem;
    }

    nav a{
    padding: 10px;
    line-height: 100%;
    font: 1rem ;
    }
   
    nav ul{
        padding-left: 10px;
    }
    main{
    width: 90%;
    }
    h1{
        font-size: 1rem;
        text-shadow: none;
        line-height: 125%;
    }
    h2{
        font-size: 2.5rem;
    }
    img{
        float: none;
        max-width: 50%;
        margin-left:25%;
        align-items: center;
    }

    .rate{
        font-size: 1.25rem;
        line-height: 125%;
        text-align: center;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition{
        width: 80%;
        float: none;
        font-size:1rem;
        line-height: 125%;
        margin-bottom: 40px;
        
    }
    .col1,
    .col2,
    .col3{
        display: block;
        float: none;
        width: 90%;
    }
    footer{
        text-align: center;
    }

    blockquote{
        max-width: 80%;

    }
}

@media (min-width:820 ) {
    html{
        line-height: 125% ;
        font-size: 5rem;
    }

    nav a{
        padding: 120px;
        letter-spacing: 5px;
        line-height: 200%;
        font: 5rem ;
    }
    nav ul{
        padding-left: 10px;
    }

    h1{
        font-size: 5rem;
        text-shadow: none;
        line-height: 150%;
    }
    h2{
        font-size: 1.2rem;
    }
    main{
        width: 80%;
    }

    img{
        width: 40%;
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition{
        width: 80%;
        float: none;
        font-size:1rem;
        line-height: 125%;
        margin-bottom: 80px;
        
    }
    .col1,
    .col2,
    .col3{
        display: block;
        float: none;
        width: 33%;
    }
}

@media (min-width:900px){
    html{
        font-size: 1.25rem;
        line-height: 125%;
    }

    nav a{
        padding:none;
        letter-spacing: 1px;
        line-height: 125%;
        font: 1rem ;
    }
    nav ul{
        padding-left: 10px;
    }

    h1{
        font-size: 3rem;
        text-shadow: none;
        line-height: 125%;
    }
    h2{
        font-size: 1.2rem;
    }

    main{
        width: 90%;
    }

    img{
        float: left;
        max-width: 20%;
        margin-right: 10%;
        margin-left:5%;
        border-radius: 50%;
        box-shadow: 5px 5px 3px #ccc;
        shape-outside: circle(50%);
    }

    .details,
    .ingredients,
    .instructions,
    .nutrition{
         width: 40%;
          float: left;
          margin-top: -2%;
        }
}